{% extends "base.html" %}
{% block title %}{{category.title}} | {% endblock title %}
{% block content %}
<div id="productapp">
	<h1 class="title">{{ product.title }}</h1>
	<h2 class="subtitle">${{ product.price }}</h2>
	{% if product.description %}
	<p>{{ product.description }}</p>
	{% endif %}
	<button @click="addToCart({{ product.id }})">Add to cart</button>
</div>
{% block scripts %}
<script>
	var productapp = new Vue({
		el: '#productapp',
		delimeters: ['[[', ']]'],
		data () {
			return {}
		},
		mounted() {
			console.log('Mounted');
		},
		methods: {
			addToCart (product_id) {
				console.log('product_id ', product_id);

				fetch('/api/add_to_cart', {
					method: 'POST',
					'header': {
						'Content_type': 'application/json',
						'x_CSRFToken': '{{ csrf_token }}'
					},
					credentials: 'same-origin',
					body: JSON.stringify(data)
				})
				.then((response) => {
					if (result.error) {
						console.log('Error 1');
						throw result;
					}
					return result
				})
				.then((result) => {
					if (result) {
						console.log('Added to cart')
					}
				})
				.catch(function (error) {
					console.log('Error 2');
				})
			}
		}

	})
</script>
{% endblock scripts %}
{% endblock content %}
